@import "tailwindcss";

/* --- CONFIGURACIÓN TAILWIND V4 --- */
/* 1. Forzar modo oscuro por clase CSS en lugar de por sistema operativo */
@custom-variant dark (&:is(.dark, .dark *));

/* 2. Recuperar nuestras reglas inteligentes para pantallas táctiles vs ratón */
@custom-variant can-hover (@media (any-hover: hover));
@custom-variant no-hover (@media (any-hover: none));


/* --- TUS ANIMACIONES --- */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slideDown 0.2s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-slide-up {
  animation: slideUp 0.2s ease-in forwards;
}

@keyframes softFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.97) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-soft-fade {
  /* La curva cubic-bezier le da ese toque "premium" y fluido */
  animation: softFadeIn 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}